.terraform
.terraform.d
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
terraform-provider-*
.terraform.lock.hcl
terraform.tfstate.lock.info
terraform-provider-*
*.tfstate
*.tfstate.backup
*.tfvars
*.terraform
*.terraform.d
*.terraform.lock.hcl
.env
.venv
venv
sa-keys.json
notes
*.log
notes.txt
airflow.cfg